.circular-progress-bar {
  position: relative;
  width: 9rem;
  height: 9rem;
  background: conic-gradient(var(--main-blue) 0deg, var(--main-grey) 0deg);
  border-radius: 50%;
  transition: 0.3s linear;
}

.circular-progress-bar_animated {
  animation: spin 2s linear infinite;
}

.circular-progress-bar::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: '';
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  background-color: var(--main-white);
  transition: 0.8s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
